@font-face {
  font-family: "tanha";
  src: local("tanha-font-v0.9"),
  url(assets/web_fonts/tanha-font-v0.9/Tanha.ttf) format("truetype");
}

@font-face {
  font-family: "vazir_o";
  src: local("vazir-font-v18.0.0"),
  url(assets/web_fonts/vazir-font-v18.0.0/Vazir.ttf) format("truetype");
}

@font-face {
  font-family: "vazir_digit";
  src: local("vazir-font-v18.0.0"),
  url(assets/web_fonts/vazir-font-v18.0.0/Farsi-Digits/Vazir-FD.ttf) format("truetype");
}

@font-face {
  font-family: "vazir_o";
  src: local("vazir-font-v18.0.0"),
  url(assets/web_fonts/vazir-font-v18.0.0/Vazir.ttf) format("truetype");
}

@font-face {
  font-family: "yekan_o";
  src: local("yekan-font"),
  url(assets/web_fonts/yekan-font/Yekan.ttf) format("truetype");
}

*, div, h1, h2, h3, h4, h5, h6 {
  font-family: vazir_digit !important;
}

.btn_main_product.theme--light.v-btn.v-btn--disabled.v-btn--has-bg {
  background-color: #9a9a9a !important;
  color: #fff !important;
}
